img{
  height: 20em;
  width: 20em;
}
.column{
  display: block;
  float: left;
  width: 17%;
  padding: 4em;

}
div{
  display: block;
  text-align: center;
}
.column img{
  cursor: zoom-in;
}
